.swiper-button-prev,
.swiper-button-next {
    position: absolute;
    top: var(--swiper-navigation-top-offset, 96%);
    width: calc(var(--swiper-navigation-size) / 44 * 22);
    height: var(--swiper-navigation-size);
    margin-top: calc(0px - (var(--swiper-navigation-size) / 2));
    z-index: 11;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
}

.swiper-button-prev {
    left: calc(50% - 100px);
}

.swiper-button-next {
    right: calc(50% - 100px);
}

/* .swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
    transform: translate(-50%,-50%);
    top: calc(100% - 27px);
    left: 50%;
    width: 12%;
} */

.swiper-button-prev:after,
.swiper-button-next:after {
    font-size: 23px;
}
.swiper-pagination-bullet{
    background: #ffffff;
}
.swiper-pagination-bullet-active{
    background: #ffffff;
}

.custom-pagination .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background: white;
  opacity: 0.5;
  border-radius: 50%;
  transition: opacity 0.3s;
}

.custom-pagination .swiper-pagination-bullet-active {
  opacity: 1;
  background: #fff; /* fully visible */
} 